@use "../../styles/partials/breakpoints" as*;
@use "../../styles/partials/colors" as*;

.heading {
    max-width: 100%;
    border-bottom: 4px solid $darkest;
    padding: .5rem 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 1rem auto;
    background-color: $darkest;
    color: $pale;
    max-width: 15rem;
    font-size: 1rem;
    border-radius: 2rem;
    padding: .8rem 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.img_input {
    width: 0;
    height: 0;

    &::-webkit-file-upload-button {
        visibility: hidden;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-height: 25rem;
    overflow-y: auto;

    /* Customize the whole scrollbar */
    &::-webkit-scrollbar {
        width: .5rem;
        /* width of the entire scrollbar */
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
        /* color of the tracking area */
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $dark;
        border-radius: 10px;
        /* color of the scroll thumb */
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $dark;
        /* color of the scroll thumb on hover */
    }

    @include tablet {
        width: 100%;
    }
}

.single {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.preview {
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_box {
    width: 7rem;
    height: 7rem;
    position: relative;
    margin: 0 auto;
}

.image {
    object-fit: contain;
}

.remove {
    background-color: transparent;
    color: $pale;
    font-family: inherit;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

.word {
    padding: .25rem;
    margin-top: .25rem;
    font-size: 1rem;
    color: inherit;
    font-family: inherit;
    text-align: center;
    border: 1px solid $dark;

    &:focus {
        outline: 2px solid $dark;
    }
}