@font-face {
    font-family: "Print Arrow";
    src: url("/fonts/TeachingPrintArrow.woff2") format("woff2"),
        url("/fonts/TeachingPrintArrow.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Print Arrow Dash";
    src: url("/fonts/TeachingPrintArrowDash.woff2") format("woff2"),
        url("/fonts/TeachingPrintArrowDash.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Print Arrow Dash Line";
    src: url("/fonts/TeachingPrintArrowDashLine.woff2") format("woff2"),
        url("/fonts/TeachingPrintArrowDashLine.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Print Arrow Dot";
    src: url("/fonts/TeachingPrintArrowDot.woff2") format("woff2"),
        url("/fonts/TeachingPrintArrowDot.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Print Arrow Dot Line";
    src: url("/fonts/TeachingPrintArrowDotLine.woff2") format("woff2"),
        url("/fonts/TeachingPrintArrowDotLine.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Print Arrow Line";
    src: url("/fonts/TeachingPrintArrowLine.woff2") format("woff2"),
        url("/fonts/TeachingPrintArrowLine.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Print Dashed";
    src: url("/fonts/TeachingPrintDashed.woff2") format("woff2"),
        url("/fonts/TeachingPrintDashed.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Print Dashed Line";
    src: url("/fonts/TeachingPrintDashedLined.woff2") format("woff2"),
        url("/fonts/TeachingPrintDashedLined.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Print Dotted";
    src: url("/fonts/TeachingPrintDotted.woff2") format("woff2"),
        url("/fonts/TeachingPrintDotted.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Print Dotted Lined";
    src: url("/fonts/TeachingPrintDottedLined.woff2") format("woff2"),
        url("/fonts/TeachingPrintDottedLined.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Print Lined";
    src: url("/fonts/TeachingPrintLined.woff2") format("woff2"),
        url("/fonts/TeachingPrintLined.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Print Regular";
    src: url("/fonts/TeachingPrintRegular.woff2") format("woff2"),
        url("/fonts/TeachingPrintRegular.woff") format("woff");
    font-weight: 400;
}