.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    min-width: 300px;
    max-width: 50rem;
    max-height: 70vh;
    overflow: scroll;
}

.closeButton {
    float: right;
    font-size: 1.2em;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}