@use "../../styles/partials/breakpoints" as*;
@use "../../styles/partials/colors" as*;


.content {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.icon {
    width: 2rem;
    height: 2.3rem;

    @include tablet {
        width: 2.5rem;
    }
}

.title {
    display: none;

    @include tablet {
        font-size: 1.75rem;
        display: block;
        font-weight: 300;
        cursor: default;
    }
}

.main {
    background: linear-gradient(180deg, #E6F6FC 0%, #9DECFF 100%);
    padding: 1rem 0;
}

.sub {
    background-color: $darkest;
    color: $pale;
    margin: 0;
    padding: 0;

    @include tablet {
        padding: .5rem 0;
    }
}