@use "../../styles/partials/breakpoints" as*;
@use "../../styles/partials/colors" as*;

.nav {
    max-width: 80rem;
    margin: 0 auto;
    position: relative;
    padding: 0 1rem;
}

.menu_desktop {
    list-style: none;
    display: none;

    @include desktop {
        display: flex;
        gap: 1.5rem;
        justify-content: flex-end;
    }
}

.menu_mobile {
    list-style: none;
    background-color: $dark;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trigger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    @include desktop {
        display: none;
    }

    &_icon {
        width: 1rem;
        fill: $pale;
    }

    &_text {
        font-size: 1rem;
        color: $pale;
    }
}

.link {
    text-decoration: none;
    font-size: 1rem;

    &:hover,
    &:focus,
    &:active {
        color: $accent;
    }
}

.item {
    border-bottom: 1px solid $pale;
    width: 100%;
    padding: 1rem 0;
    text-align: center;

    @include desktop {
        border: none;
        width: auto;
        padding: 0;
    }
}